<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/cc765b5db3.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://rikiyat.github.io/assets/css/style.css">
    <link rel="stylesheet" href="https://rikiyat.github.io/assets/css/custom.css">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">TREC 2025 Product Search and Recommendations Track</h1>
      <h3 class="project-tagline"><i>Advancing multimodal retrieval and recommendation methods for online product discovery experiences.</i></h3>
      <a href="index" class="btn">Overview</a>
      <a href="organizers" class="btn">Organizers</a>
      <a href="previous" class="btn">Previous editions</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      </footer>
    </main>
  </body>
</html>
